@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* CSS HEX */
  --tropical-teal: #70a7a2ff;
  --golden-earth: #8f642dff;
  --tan: #e0c397;
  --bg-color: #eeeee2ff;
  --primary-color: #7dd3e0ff;
  /* --primary-color: #70a7a2ff; */

  /* FONTS */
  --font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  position: relative;
}

a {
  text-decoration: none;
}

ul.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
