@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* CSS HEX */
  --tropical-teal: #70a7a2ff;
  --golden-earth: #8f642dff;
  --tan: #e0c397;
  --bg-color: #eeeee2ff;
  --primary-color: #7dd3e0ff;
  /* --primary-color: #70a7a2ff; */

  /* SCSS Gradient */
  --gradient-top: linear-gradient(
    0deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-right: linear-gradient(
    90deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-bottom: linear-gradient(
    180deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-left: linear-gradient(
    270deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-top-right: linear-gradient(
    45deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-top-left: linear-gradient(
    225deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );
  --gradient-radial: radial-gradient(
    #70a7a2ff,
    #8f642dff,
    #e0c397ff,
    #eeeee2ff,
    #7dd3e0ff
  );

  /* FONTS */
  --font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
