.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: transparent;

  .navbar-brand {
    max-width: 5rem;
  }

  .navbar-toggler {
    box-shadow: none;
    border: none;

    i {
      font-size: 2rem;
      color: var(--primary-color);
    }
  }

  .navbar-collapse {
    @media (width < 992px) {
      backdrop-filter: brightness(0.3);
      padding: 1rem;
      border-radius: 10px;
    }

    .navbar-nav {
      gap: 3rem;

      @media (width < 992px) {
        gap: 1rem;
      }

      .nav-link {
        color: var(--primary-color);
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          color: var(--golden-earth);
        }
      }
      .nav-link.color-primary {
        &:hover {
          color: var(--bg-color);
        }
      }
    }
  }
}

header {
  height: 100vh;
  background-image: url("../img/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .box-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 4rem;

      h1 {
        color: var(--primary-color);
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .btn-hero {
        color: var(--primary-color);
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid var(--primary-color);
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;

        &:hover {
          color: var(--golden-earth);
          border-color: var(--golden-earth);
        }
      }
    }
  }
}

main {
  .section-nosotros {
    background-color: var(--golden-earth);
    h2 {
      color: var(--bg-color);
    }

    ul {
      @media (width < 768px) {
        margin-top: 5rem;
        justify-content: space-between;
      }

      li {
        button {
          color: var(--tan);
          font-size: 1.2rem;
          font-weight: 700;
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          background: transparent;
          border: solid 2px transparent;

          &:hover {
            color: var(--bg-color);
            border: solid 2px var(--bg-color);
          }
        }

        .nosotros-active {
          color: var(--bg-color);
          border: solid 2px var(--bg-color);
        }
      }
    }
    p {
      margin-top: 2rem;
      color: var(--bg-color);
      font-size: 1.2rem;
    }
  }

  .section-productos {
    h2 {
      color: var(--primary-color);
    }

    ul {
      justify-content: center;

      li {
        .btn-productos {
          color: var(--primary-color);
          font-size: 1rem;
          font-weight: 700;
          border: 2px solid transparent;
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          background: transparent;

          &:hover {
            color: var(--golden-earth);
            border-color: var(--golden-earth);
          }

          &.productos-active {
            color: var(--golden-earth);
            border: solid 2px var(--golden-earth);
          }
        }
      }
    }

    figure {
      background-color: var(--bg-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      min-height: 25rem;

      .box-img {
        height: 10rem;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      figcaption {
        margin-top: 2rem;
      }
    }
  }

  .section-ubicaciones {
    height: 60vh;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  background-color: var(--golden-earth);
  padding-top: 3rem;
  padding-bottom: 3rem;

  img {
    @media (width < 768px) {
      width: 7rem !important;
    }
  }

  h3 {
    color: var(--bg-color);
    margin-bottom: 2rem;
  }

  ul {
    li {
      a {
        color: var(--bg-color);
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        display: flex;
        width: max-content;
        border: solid 2px var(--bg-color);
        transition: all 0.3s ease;
        gap: 0.5rem;
      }

      .btn-whatsapp:hover {
        background-color: #25d366;
      }

      .btn-mail:hover {
        background-color: #e63434;
      }
    }
  }

  .box-text_copy {
    display: flex;
    justify-content: end;
    align-items: end;

    @media (width < 768px) {
      justify-content: start;
      align-items: start;
    }

    .text-copy {
      color: var(--bg-color);
    }
  }
}
